{% extends 'base.twig' %}

{% block head %}
    <script src="/assets/js/app.js"></script>
{% endblock %}

{% block content %}
    <main class="obrasocial">
      <h2>Trabajamos con las siguientes obras sociales</h2>
    </main>
{% endblock %}