{% extends 'base.twig' %}

{% block head %}
    <script src="/assets/js/app.js"></script>
    {% endblock %}

{% block content %}
    <main class="sala-espera">
        <div id="list-container">
          <ul id="item-list"></ul>
        </div>
        <div id="remaining-time"></div>
    </main>
{% endblock %}
