{% extends 'base.twig' %}

{% block content %}
    <main class="grilla"><h2>Directorio</h2>

      <ul>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
        <li>
          <img src="/assets/img/personaej.png" width="48" height="48" />
          <p>Nombre</p>
          <p>Rango</p>
        </li>
      </ul>
    </main>
 {% endblock %}